Repository andrcuns/charts, pull requests merged in 2021-08, with the labels that each got.

#69 Properly load credentials when redis and mongodb deployment is disabled
  charts/dependabot-gitlab/Chart.yaml
  charts/dependabot-gitlab/README.md
  charts/dependabot-gitlab/templates/_helpers.tpl
  charts/dependabot-gitlab/templates/configmap.yaml
  charts/dependabot-gitlab/templates/deployment-web.yaml
  charts/dependabot-gitlab/templates/deployment-worker.yaml
  charts/dependabot-gitlab/templates/job.yaml
  charts/dependabot-gitlab/templates/secrets-registries.yaml
  charts/dependabot-gitlab/templates/secrets.yaml
Labels: bug, dependabot-gitlab

#70 Fix: resource definitions for worker pod are taken from web pod
  charts/dependabot-gitlab/Chart.yaml
  charts/dependabot-gitlab/README.md
  charts/dependabot-gitlab/templates/deployment-worker.yaml
Labels: bug

#73 add mongoid migration job
  charts/dependabot-gitlab/Chart.yaml
  charts/dependabot-gitlab/README.md
  charts/dependabot-gitlab/ci/ci-values.yaml
  charts/dependabot-gitlab/templates/_helpers.tpl
  charts/dependabot-gitlab/templates/deployment-web.yaml
  charts/dependabot-gitlab/templates/deployment-worker.yaml
  charts/dependabot-gitlab/templates/migration-job.yaml
  charts/dependabot-gitlab/templates/registration-job.yaml
  charts/dependabot-gitlab/templates/role-binding.yaml
  charts/dependabot-gitlab/templates/role.yaml
  charts/dependabot-gitlab/templates/serviceaccount.yaml
  charts/dependabot-gitlab/values.yaml
Labels: dependabot-gitlab

#75 Add init container for redis and mongodb
  charts/dependabot-gitlab/Chart.yaml
  charts/dependabot-gitlab/README.md
  charts/dependabot-gitlab/templates/_helpers.tpl
  charts/dependabot-gitlab/templates/deployment-web.yaml
  charts/dependabot-gitlab/templates/deployment-worker.yaml
  charts/dependabot-gitlab/templates/migration-job.yaml
Labels: dependabot-gitlab

#76 allow configuring mongodb connection with uri parameter
  charts/dependabot-gitlab/Chart.yaml
  charts/dependabot-gitlab/README.md
  charts/dependabot-gitlab/templates/configmap.yaml
  charts/dependabot-gitlab/templates/secrets.yaml
  charts/dependabot-gitlab/values.yaml
Labels: dependabot-gitlab

#77 set restart policy "never" for jobs
  charts/dependabot-gitlab/Chart.yaml
  charts/dependabot-gitlab/README.md
  charts/dependabot-gitlab/templates/migration-job.yaml
  charts/dependabot-gitlab/templates/registration-job.yaml
Labels: dependabot-gitlab

#78 truncate migration job name length
  charts/dependabot-gitlab/Chart.yaml
  charts/dependabot-gitlab/README.md
  charts/dependabot-gitlab/templates/_helpers.tpl
  charts/dependabot-gitlab/templates/migration-job.yaml
  charts/dependabot-gitlab/values.yaml
Labels: dependabot-gitlab

#79 fix migration job wait
  charts/dependabot-gitlab/Chart.yaml
  charts/dependabot-gitlab/README.md
  charts/dependabot-gitlab/templates/_helpers.tpl
Labels: dependabot-gitlab
