Repository andrcuns/charts, pull requests merged in 2024-12, with the labels that each got.

#252 Feat: add a preStop script
  charts/buildkit-service/README.md
  charts/buildkit-service/files/buildkit-prestop.sh
  charts/buildkit-service/templates/deployment.yaml
  charts/buildkit-service/templates/prestop-configmap.yaml
  charts/buildkit-service/values.yaml
Labels: buildkit-service

#253 Add missing conditional for volumes if preStop script is used
  charts/buildkit-service/ci/ci-default-values.yaml
  charts/buildkit-service/templates/deployment.yaml
  charts/buildkit-service/templates/files-configmap.yaml
Labels: bug, buildkit-service

#257 chore(deps): update moby/buildkit docker tag to v0.18.2
  charts/buildkit-service/Chart.yaml
  charts/buildkit-service/README.md
Labels: buildkit-service, dependencies
