Repository andrcuns/charts, pull requests merged in 2024-06, with the labels that each got.

#201 Repair indent error in volumes list.
  charts/buildkit-service/templates/deployment.yaml
Labels: buildkit-service

#203 Automatically update buildkit version
  .github/renovate.json
Labels: ci

#204 chore(deps): update moby/buildkit docker tag to v0.14.1
  charts/buildkit-service/Chart.yaml
  charts/buildkit-service/README.md
Labels: buildkit-service, dependencies
